.hamburgerNav {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #ff2a2a;
  color: white !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;

  &--active {
    display: block;
  }

  &__logoLink {
    width: 100px;
    position: absolute;
    top: 40px;
    left: 50px;
  }

  &__logo {
    width: 100%;
  }

  &__linkWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__link {
    color: white;
    font-weight: bold;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__entryLink {
    font-weight: bold;
    color: white;
    border: 2px solid white;
    padding: 10px 30px;

    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
